rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /djs/{djId} {
      allow read,list: if true;
    	allow create,update,delete: if request.auth != null
      && request.auth.uid != null  
      && request.auth.token.firebase.sign_in_provider != 'anonymous' 
      && isValidDJ();  
    }
    function isValidDJ() {
    	return incomingData().name.size() > 0 
      && incomingData().name.size() < 21 
      && incomingData().genre.size() > 0;
  	}
    function incomingData() {
      return request.resource.data;
    }

  }
}